//----------
// Brandbar
//----------

// brandbar

.brandbar {
  position: relative;
}

// Brandbar

.brandbar {
  background: #ffffff;
  // background: #006382;
  // background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1182308/header-bg.jpg");
  background-size: cover;
  color: #ffffff;
  
  @media (min-width: 768px) {
    background-color: #767676;
  }
  
}

// Brandbar-image

.brandbar-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.brandbar-image-kitesurf {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1182308/brandbarmobiel-kitesurf.jpg");
  
  @media (min-width: 576px) {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1182308/brandbar-kitesurf.jpg");   
  }
  
}

.brandbar-image-kitesurf2 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1182308/brandbar-kitesurf2.jpg");
  
  @media (min-width: 576px) {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1182308/brandbar-kitesurf2.jpg");  
  }
  
}

.brandbar-image-lotte {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1182308/brandbarmobiel-lotte.jpg");
  
  @media (min-width: 576px) {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1182308/Brandbar-Lotte.jpg");   
  }
  
}

.brandbar-image-specials {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1182308/brandbar-specials.jpg");
  
  @media (min-width: 576px) {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1182308/brandbar-specials.jpg");   
  }
  
}

.brandbar-image-article {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1182308/brandbar-VeelGeld.jpg");
  
  @media (min-width: 576px) {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1182308/brandbar-VeelGeld.jpg");   
  }
  
}

.brandbar-image-request {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1182308/brandbar-request.jpg");
  
  @media (min-width: 576px) {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1182308/brandbar-request.jpg");   
  }
  
}

.brandbar-header {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
    
  @media (min-width: 768px) {
    padding-top: 15px;
  }
  
}

// Brandbar-heading

.brandbar-heading {
  position: relative;
  color: #767676;
  margin: 0 10px;
  padding: 10px;  
    
  @media (min-width: 768px) {
    background-color: rgba(0,0,0,.3)!important;
    border: 1px solid #ffffff;
    border-radius: 6px;
    width: 64%;
    color: #ffffff;
    text-shadow: 1px 1px #767676;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  
}

.brandbar-title {
  margin: 0;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3;
    
  @media (min-width: 768px) {
    font-size: 28px;
    font-size: 1.75rem;
  }
  
}

.brandbar-lead {
  margin: 0;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.3;
    
  @media (min-width: 768px) {
    font-size: 24px;
    font-size: 1.5rem;
  }
  
}

// brandbar-a

.brandbar-a {
  height: auto;
    
  @media (min-width: 768px) {
    height: 204px;
  }

  @media (min-width: 992px) {
    height: 236px;
  }
  
  .brandbar-image,
  .brandbar-link {
    height: 118px;
    
    @media (min-width: 576px) {
      height: 163px;
    }
    
    @media (min-width: 768px) {
      height: 100%;
    }
    
  }
  
  .brandbar-heading {
    padding-top: 128px;
    
    @media (min-width: 576px) {
      padding-top: 173px;
    }
    
    @media (min-width: 768px) {
      padding-top: 15px;
    }
      
  }
  
}
