//----------
// Btn 
// Btn focus
//----------

// Btn

.btn {
  font-size: 19px;
  font-size: 1.1875rem;
  font-weight: bold;
  text-shadow: none!important;
  border-width: 1px !important;
  
  &:focus,
  &:hover {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
  
}

// Btn focus

.btn:focus,
.btn.focus {
  outline: -webkit-focus-ring-color auto 5px;
  
  .bad & {
    color: white;
    outline: none;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  }
  
}

.btn-primary {
  
  .bad & {
    
    &:hover,
    &:focus {
      color: #fff;
      background-color: #ff6200;
      border: 1px solid transparent;
      margin: 0;
    }
    
  }
  
}

.btn-sm {
  font-size: 16px;
  font-size: 1rem;
  
  &:focus,
  &:hover {
    padding: 0.25rem 0.5rem;
  }
  
}