//----------
// Bg Colors
// Text Colors
//----------

// Bg Colors

.bg-a {
  background: #767676!important;
  color: #ffffff;
}

.bg-faded {
  background: #f5f5f5 !important;
}

.bg-grey {
  background: #ebebeb !important;
}

// Text Colors

.text-orange {
  color: #ff6200 !important;
}