//----------
// Card
// Icon
//----------

// Card

.card {
  
  h4 {
    color: #FF6200;    
  }
  
  .quiz & {
      
    h4 {
      color: #333333;    
    }
    
  }
  
}

.card-title {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3;
  color: #FF6200;
  margin: 0;
  padding: 0 0 .25em 0;
}

.card-block {
    // padding-bottom: 0;
}

.card-text {
  
  .bad & {
    text-align: justify;
  }
  
}