//----------
// List-group
// List-icons
// List-linklist
//----------

// List-group

.list-group {
  max-width: 100%;
}

.list-group-lessons {
  margin-bottom: 2rem;
  color: #333333;
  
  a:focus,
  a:active {
    border-bottom-color: transparent;
    text-decoration: none;
    color: #007394;
    font-weight: bold;
  }

  ul, ol {
    margin-top: 1em;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
  
  p, h5, h6 {
    margin-top: 1em;
    margin-bottom: .5rem;
  }
  
  strong {
    margin-top: .5em;
    margin-bottom: .5em;
  }
  
}

// List-icons

.list-icons {
  list-style: none;
  padding-left: 0;
  
  li:before,
  li > .stacked-icon,
  li > .icon {
    position: absolute;
    top: 4px;
    left: 5px;
  }
  
}

// List-checklist

.list-checklist {
  
  > li {
    position: relative;
    padding-left: 20px;
    
    &:before {
      font-family: ing-icons;
      speak: none;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e92d";
      width: 14px;
      height: 14px;
      font-size: 14px;
      font-size: .875rem;
      left: 0;
      top: 5px;
      color: #349651;
    }
    
    a {
      color: inherit;
      text-decoration: none;
      }
  
  }

}

// List-linklist

.list-linklist {
  
  > li {
    position: relative;
    padding-left: 20px;
    
    &:before {
      font-family: ing-icons;
      speak: none;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e952";
      width: 14px;
      height: 14px;
      font-size: 14px;
      font-size: .875rem;
      left: 0;
      top: 5px;
      color: #FF6200;
    }
    
    // &:before {
    //  content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1182308/arrow-orange.png);
    //  position: absolute;
    //  left: 0;
    // }
    
    a {
      color: inherit;
      text-decoration: none;
      }
  
  }

}

.list-icons {
  list-style: none;
  padding-left: 0;
}
.list-icons li {
  position: relative;
  padding-left: 30px;
}
.list-icons li:before,
.list-icons li > .stacked-icon,
.list-icons li > .icon {
  position: absolute;
  top: 4px;
  left: 5px;
}
.list-icons li > a {
  color: #333333;
  text-decoration: none;
}
.list-icons li > a:hover,
.list-icons li > a:focus {
  // text-decoration: underline;
}
.list-icons li li {
  padding: 0;
}
.list-icons-inverse li {
  color: #ffffff;
}
.list-icons-inverse li:before {
  color: inherit !important;
}
.list-icons-inverse li > a {
  color: inherit;
}
.list-icons .active {
  background-color: #d5d5d5;
  font-size: 18px;
  font-size: 1.125rem;
}
.list-icons.list-horizontal > li {
  margin-top: 0;
  margin-left: 10px;
}
.list-icons.list-horizontal > li:first-child {
  margin-left: 0;
}
.list-icons-sm > li {
  font-size: 14px;
  font-size: 0.875rem;
  padding-left: 24px;
}
.list-icons-sm > li:before,
.list-icons-sm > li .stacked-icon,
.list-icons-sm > li .icon {
  width: 14px;
  height: 14px;
  font-size: 14px;
  font-size: 0.875rem;
  top: 4px;
  left: 3px;
}
.list-icons-sm > li.active {
  font-size: 14px;
  font-size: 0.875rem;
}
.table .list-icons-sm > li {
  font-size: inherit;
}
.table .list-icons-sm > li:before,
.table .list-icons-sm > li .stacked-icon,
.table .list-icons-sm > li .icon {
  top: 3px;
}
.list-icons-lg > li {
  font-size: 18px;
  font-size: 1.125rem;
  padding-left: 34px;
}
.list-icons-lg > li:before,
.list-icons-lg > li .stacked-icon,
.list-icons-lg > li .icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  font-size: 1.125rem;
  top: 5px;
  left: 7px;
}
.list-icons-lg > li.active {
  font-size: 21px;
  font-size: 1.3125rem;
}