.steps {
  width: 100%;
  display: table;
  height: 48px;
  overflow: hidden;
  background-color: #ffffff;
}
.steps-complete {
  display: table-cell;
  height: inherit;
  vertical-align: middle;
}
.steps-complete-element {
  display: table-cell;
  height: inherit;
  line-height: 1.2;
  text-align: center;
  color: #adadad;
  vertical-align: middle;
  padding: 0 10px 0 30px;
}
.steps-complete-icon {
  display: table-cell;
  vertical-align: middle;
  padding: 0 5px;
}
.steps-complete-icon .icon {
  width: 27px;
  height: 27px;
  font-size: 27px;
  font-size: 1.6875rem;
  color: #adadad;
}
.steps-complete-icon .icon .stacked-icon-text {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.2;
}
.steps-complete-icon .icon:before {
  content: "\e92d";
}
.steps-complete-icon .icon:before:before {
  content: "\e92d" !important;
}
.steps-complete-item {
  display: table;
  height: inherit;
  background-color: #ebebeb;
}
.steps-complete-text {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  padding: 0 5px;
}
.steps-indicator {
  display: table-cell;
  height: inherit;
  vertical-align: middle;
  padding: 0;
}
.steps-indicator .steps-indicator-arrow {
  width: 38px;
  height: 38px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  top: 50%;
  right: -19px;
  margin-top: -19px;
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
  top: 50% \9;
  right: -38px \9;
  border-top: 30px solid \9;
  border-bottom: 30px solid \9;
  border-top-color: transparent \9 !important;
  border-bottom-color: transparent \9 !important;
  border-left: 30px solid #ebebeb \9;
  margin-top: -30px \9;
  border-left: 15px solid #d5d5d5 \9;
  right: -19px \9;
  -webkit-transform: rotate(0deg) \9;
  -ms-transform: rotate(0deg) \9;
  transform: rotate(0deg) \9;
  right: -36px \9;
}
.steps-indicator .steps-indicator-arrow:before {
  width: 38px;
  height: 38px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
}
.steps-indicator .steps-indicator-arrow:after {
  top: -1px;
  right: 1px;
  width: 38px;
  height: 38px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
}
.steps-indicator .steps-indicator-arrow,
.steps-indicator .steps-indicator-arrow:before,
.steps-indicator .steps-indicator-arrow:after {
  -webkit-transform: rotate(0deg) \9;
  -ms-transform: rotate(0deg) \9;
  transform: rotate(0deg) \9;
  -webkit-border-radius: 0 \9 !important;
  border-radius: 0 \9 !important;
}
.steps-indicator .steps-indicator-arrow _:-ms-fullscreen,
.steps-indicator .steps-indicator-arrow {
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}
.steps-indicator .steps-indicator-arrow _:-ms-fullscreen,
.steps-indicator .steps-indicator-arrow,
.steps-indicator .steps-indicator-arrow _:-ms-fullscreen,
.steps-indicator .steps-indicator-arrow:before {
  border-bottom-right-radius: 6px !important;
}
.steps-indicator .steps-indicator-arrow _:-ms-fullscreen,
.steps-indicator .steps-indicator-arrow:after {
  border-bottom-right-radius: 5px !important;
}
.steps-indicator .steps-indicator-arrow:before,
.steps-indicator .steps-indicator-arrow:after {
  border-top: 31px solid transparent \9 !important;
  border-bottom: 31px solid transparent \9 !important;
  margin-top: -31px \9;
}
.steps-indicator .steps-indicator-arrow:before {
  left: -14px \9;
  border-left: 15px solid #ffffff \9;
}
.steps-indicator .steps-indicator-arrow:after {
  left: -15px \9;
  border-left: 15px solid #ebebeb \9;
}
.steps-indicator-element {
  display: block;
  position: relative;
  width: 100%;
  height: inherit;
  border-bottom: transparent;
  background-color: #ebebeb;
  line-height: 1.2;
  text-decoration: none;
  color: #adadad;
  padding-left: 20px;
}
.steps-indicator-item {
  display: table-cell;
  height: inherit;
  vertical-align: middle;
  margin-top: 0;
}
.steps-indicator-list {
  list-style: none;
  padding-left: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 100%;
  height: inherit;
  border-collapse: separate;
  margin-bottom: 0;
}
.steps-indicator-text {
  display: table-cell;
  height: inherit;
  vertical-align: middle;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
  margin: -1px !important;
  padding: 0 !important;
}
.steps-indicator-type {
  display: table-cell;
  height: inherit;
  width: 30px;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
  vertical-align: middle;
}
.steps-arrow .steps-indicator-element {
  padding-left: 24px;
}
.steps-arrow .steps-indicator-item:first-child .steps-indicator-element {
  padding-left: 0;
}
.steps-indicator-item.active .steps-indicator-element {
  background-color: #adadad;
  color: #ffffff;
}
.steps-indicator-item.active .steps-indicator-arrow:before {
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
  border-right-color: #ffffff \9;
  border-left-color: #ffffff \9;
}
.steps-indicator-item.active .steps-indicator-arrow:after {
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #adadad 50%);
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #adadad 50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #adadad 50%);
  border-right-color: #adadad \9;
  border-left-color: #adadad \9;
}
.steps-complete-item.active {
  background-color: #ffffff;
}
.steps-complete-item.active .steps-complete-icon .icon {
  color: #349651;
}
a.steps-indicator-element:hover,
a.steps-indicator-element:focus {
  background-color: #adadad;
  color: #ffffff;
}
a.steps-indicator-element:hover .steps-indicator-arrow:before,
a.steps-indicator-element:focus .steps-indicator-arrow:before {
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
  border-right-color: #ffffff \9;
  border-left-color: #ffffff \9;
}
a.steps-indicator-element:hover .steps-indicator-arrow:after,
a.steps-indicator-element:focus .steps-indicator-arrow:after {
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #adadad 50%);
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #adadad 50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #adadad 50%);
  border-right-color: #adadad \9;
  border-left-color: #adadad \9;
}
a.steps-indicator-element:focus {
  z-index: 3300;
}
.steps-indicator-item.visited .steps-indicator-element {
  background-color: #ffffff;
  color: #adadad;
}
.steps-indicator-item.visited a.steps-indicator-element:hover,
.steps-indicator-item.visited a.steps-indicator-element:focus {
  background-color: #adadad;
  color: #ffffff;
}
.steps-indicator-item.visited .steps-indicator-arrow:before {
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
  border-right-color: #ebebeb \9;
  border-left-color: #ebebeb \9;
}
.steps-indicator-item.visited .steps-indicator-arrow:after {
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
  border-right-color: #ffffff \9;
  border-left-color: #ffffff \9;
}
.steps-sm {
  height: 30px;
}
.steps-sm .steps-complete-icon .icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  font-size: 1.125rem;
}
.steps-sm .steps-indicator-type {
  font-size: 16px;
  font-size: 1rem;
}
.steps-sm .steps-indicator-element {
  padding-left: 10px;
}
.steps-sm .steps-indicator-element .steps-indicator-type {
  width: 1%;
}
.steps-sm .steps-complete-element {
  padding: 0 10px 0 20px;
}
.steps-sm .steps-complete-element .steps-complete-text {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
  margin: -1px !important;
  padding: 0 !important;
}
.steps-sm .steps-indicator-arrow {
  width: 26px;
  height: 26px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  top: 50%;
  right: -13px;
  margin-top: -13px;
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
  top: 50% \9;
  right: -27px \9;
  border-top: 19px solid \9;
  border-bottom: 19px solid \9;
  border-top-color: transparent \9 !important;
  border-bottom-color: transparent \9 !important;
  border-left: 19px solid #ebebeb \9;
  margin-top: -19px \9;
  border-left: 9.5px solid #d5d5d5 \9;
  right: -13.5px \9;
  -webkit-transform: rotate(0deg) \9;
  -ms-transform: rotate(0deg) \9;
  transform: rotate(0deg) \9;
  right: -26px \9;
}
.steps-sm .steps-indicator-arrow:before {
  width: 26px;
  height: 26px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
}
.steps-sm .steps-indicator-arrow:after {
  top: -1px;
  right: 1px;
  width: 26px;
  height: 26px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
}
.steps-sm .steps-indicator-arrow,
.steps-sm .steps-indicator-arrow:before,
.steps-sm .steps-indicator-arrow:after {
  -webkit-transform: rotate(0deg) \9;
  -ms-transform: rotate(0deg) \9;
  transform: rotate(0deg) \9;
  -webkit-border-radius: 0 \9 !important;
  border-radius: 0 \9 !important;
}
.steps-sm .steps-indicator-arrow _:-ms-fullscreen,
.steps-sm .steps-indicator-arrow {
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}
.steps-sm .steps-indicator-arrow _:-ms-fullscreen,
.steps-sm .steps-indicator-arrow,
.steps-sm .steps-indicator-arrow _:-ms-fullscreen,
.steps-sm .steps-indicator-arrow:before {
  border-bottom-right-radius: 6px !important;
}
.steps-sm .steps-indicator-arrow _:-ms-fullscreen,
.steps-sm .steps-indicator-arrow:after {
  border-bottom-right-radius: 5px !important;
}
.steps-sm .steps-indicator-arrow:before,
.steps-sm .steps-indicator-arrow:after {
  border-top: 20px solid transparent \9 !important;
  border-bottom: 20px solid transparent \9 !important;
  margin-top: -20px \9;
}
.steps-sm .steps-indicator-arrow:before {
  left: -8.5px \9;
  border-left: 9.5px solid #ffffff \9;
}
.steps-sm .steps-indicator-arrow:after {
  left: -9.5px \9;
  border-left: 9.5px solid #ebebeb \9;
}
.steps-md .steps-indicator-item.active .steps-indicator-text {
  position: static !important;
  width: auto !important;
  height: auto !important;
  overflow: visible !important;
  clip: auto !important;
  margin: 0 !important;
}
.steps-md.steps-arrow .steps-indicator-element {
  padding-left: 30px;
}
.steps-lg {
  height: 60px;
}
.steps-lg .steps-complete-icon .icon {
  width: 32px;
  height: 32px;
  font-size: 32px;
  font-size: 2rem;
}
.steps-lg .steps-complete-icon .icon .stacked-icon-text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.4;
}
.steps-lg .steps-indicator-text {
  position: static !important;
  width: auto !important;
  height: auto !important;
  overflow: visible !important;
  clip: auto !important;
  margin: 0 !important;
}
.steps-lg .steps-indicator-type {
  font-size: 32px;
  font-size: 2rem;
}
.steps-lg .steps-indicator-element {
  padding-left: 30px;
}
.steps-lg.steps-arrow .steps-indicator-element {
  padding-left: 40px;
}
.steps-lg .steps-complete-element {
  padding: 0 10px 0 40px;
}
.steps-lg .steps-indicator-arrow {
  width: 48px;
  height: 48px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  top: 50%;
  right: -24px;
  margin-top: -24px;
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
  top: 50% \9;
  right: -42px \9;
  border-top: 34px solid \9;
  border-bottom: 34px solid \9;
  border-top-color: transparent \9 !important;
  border-bottom-color: transparent \9 !important;
  border-left: 34px solid #ebebeb \9;
  margin-top: -34px \9;
  border-left: 17px solid #d5d5d5 \9;
  right: -21px \9;
  -webkit-transform: rotate(0deg) \9;
  -ms-transform: rotate(0deg) \9;
  transform: rotate(0deg) \9;
  right: -46px \9;
}
.steps-lg .steps-indicator-arrow:before {
  width: 48px;
  height: 48px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ffffff 50%);
}
.steps-lg .steps-indicator-arrow:after {
  top: -1px;
  right: 1px;
  width: 48px;
  height: 48px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ebebeb 50%);
}
.steps-lg .steps-indicator-arrow,
.steps-lg .steps-indicator-arrow:before,
.steps-lg .steps-indicator-arrow:after {
  -webkit-transform: rotate(0deg) \9;
  -ms-transform: rotate(0deg) \9;
  transform: rotate(0deg) \9;
  -webkit-border-radius: 0 \9 !important;
  border-radius: 0 \9 !important;
}
.steps-lg .steps-indicator-arrow _:-ms-fullscreen,
.steps-lg .steps-indicator-arrow {
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}
.steps-lg .steps-indicator-arrow _:-ms-fullscreen,
.steps-lg .steps-indicator-arrow,
.steps-lg .steps-indicator-arrow _:-ms-fullscreen,
.steps-lg .steps-indicator-arrow:before {
  border-bottom-right-radius: 6px !important;
}
.steps-lg .steps-indicator-arrow _:-ms-fullscreen,
.steps-lg .steps-indicator-arrow:after {
  border-bottom-right-radius: 5px !important;
}
.steps-lg .steps-indicator-arrow:before,
.steps-lg .steps-indicator-arrow:after {
  border-top: 35px solid transparent \9 !important;
  border-bottom: 35px solid transparent \9 !important;
  margin-top: -35px \9;
}
.steps-lg .steps-indicator-arrow:before {
  left: -16px \9;
  border-left: 17px solid #ffffff \9;
}
.steps-lg .steps-indicator-arrow:after {
  left: -17px \9;
  border-left: 17px solid #ebebeb \9;
}
.steps-a {
  border-bottom: 1px solid #d5d5d5;
}
.steps-a .steps-indicator-item.active .steps-indicator-element {
  background-color: #ff6200;
}
.steps-a .steps-indicator-item.active .steps-indicator-arrow:before {
  border-right-color: #ffffff \9;
  border-left-color: #ffffff \9;
}
.steps-a .steps-indicator-item.active .steps-indicator-arrow:after {
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ff6200 50%);
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ff6200 50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ff6200 50%);
  border-right-color: #ff6200 \9;
  border-left-color: #ff6200 \9;
}
.steps-a a.steps-indicator-element:hover,
.steps-a a.steps-indicator-element:focus {
  background-color: #ff6200;
}
.steps-a a.steps-indicator-element:hover .steps-indicator-arrow:after,
.steps-a a.steps-indicator-element:focus .steps-indicator-arrow:after {
  background: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ff6200 50%);
  background: -o-linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ff6200 50%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 50%, #ff6200 50%);
  border-right-color: #ff6200 \9;
  border-left-color: #ff6200 \9;
}
.steps-a .steps-indicator-item.visited .steps-indicator-element {
  color: #ff6200;
}
.steps-a .steps-indicator-item.visited a.steps-indicator-element:hover,
.steps-a .steps-indicator-item.visited a.steps-indicator-element:focus {
  background-color: #ff6200;
}