//----------
// Lead
// Lists
// Displays
// Headings
// Links
// Miscellaneous
// Alerts
//----------

body {
  // font-family: INGMe, "Arial", sans-serif;
  color: #333333;
}

p {
  max-width: 600px;
  margin-bottom: 1.5rem;
  
  &:last-child {
    margin-bottom: 0;    
  }
  
  .bad & {
    max-width: initial;
  }
  
}

// Lead

.lead {
  margin-bottom: .5rem;
}

// Lists

ol, ul, dl {
  max-width: 600px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  
  .bad & {
    max-width: initial;
  }
  
}

// Displays

.display-5 {
  font-size: 24px;
  font-size: 1.5rem;
}

// Headings

.heading-xs {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
}

.heading-s {
  font-size: 19px;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: bold;
}

.heading-m {
  font-size: 21px;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: bold;
}

.heading-l {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: bold;
}

.heading-xl {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.3;
  font-weight: bold;
}

.heading-xxl {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.3;
  font-weight: bold;
}

// Links

a {
  color: #1570a5;
  max-width: 600px;
  border: 1px solid transparent;
  border-bottom: 1px solid #767676;  
  
  .bad & {
    max-width: initial;
    border-width: 0px;
  }
  
}

a:hover,
a:focus {
  color: #1570a5;
  background-color: #ffffc1;
  // background-color: #fef4ec!important;
  border-bottom-color: transparent;
  text-decoration: none;
  padding: 2px;
  margin: -2px;
  border: 1px solid #cecece;
  border-radius: 3px;
  
  .bad & {
    outline: none;
    border-bottom: 1px solid transparent;
    border-width: 0 0 1px 0;
    background: none;
    text-decoration: none;
  }
  
}

em {
  font-weight: bold;
  font-style: normal;
}

.text-white {
  border-bottom-color: #ffffff;
}

.link-primary {
  position: relative;
  display: inline-block;
  background: #ffffff;
  border-radius: 6px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  text-shadow: none !important;
  vertical-align: middle;
  // white-space: nowrap;
  margin-bottom: 0;
  font-size: 19px;
  font-size: 1.2rem;
  color: #FF6200;
  line-height: 1.5;
  padding: 4px 10px;
  border: 1px solid #FF6200 !important;

  &:hover,
  &:focus {
    text-decoration: underline;
    cursor: pointer;
    color: #FF6200;
    border-color: #FF6200;
    border-radius: 6px;
    background: #ffffff;
    padding: 4px 10px;
    margin: 0;
  }
  
}

.link-linklist {
  position: relative;
  color: #333333;
  margin-left: 20px;
  
  &:before {
    position: absolute;
    font-family: ing-icons;
    line-height: 1;
    vertical-align: middle;
    content: "\e952";
    width: 14px;
    height: 14px;
    font-size: 14px;
    font-size: .875rem;
    left: -20px;
    top: 5px;
    color: #ff6200;
  }
  
  &:focus,
  &:hover {
    color: #333333;
    margin-left: 18px;
    
    &:before {
      left: -18px;
      top: 7px;
    }
    
  } 
  
}

// Miscellaneous

li {
  margin-bottom: 0.5em;
}

abbr[title],
abbr[data-original-title] {
  cursor: auto;
  text-decoration: none;
}

blockquote {
  width: 100%;
  border-left-color: #ffffff;
  padding: 0 1rem;
}

.blockquote-footer {
  color: inherit;
  padding: 1rem 0;
}

.blockquote-attribution {
  font-size: 16px;
  font-size: 1rem;
  font-style: normal;
}

.article-main {
  
  h3.heading-l {
    color: #FF6200;
  }
  
}