//----------
// Bg Colors
// Text Colors
//----------

// Bg Colors

.border-grey-light {
  border: 1px solid #ebebeb;
  // border-radius: 4px;
}

.mt-n1 {
  margin-top: -.25rem !important;
}

.mt-n2 {
  margin-top: -.5rem !important;
}